body,
html {
  /*background: grey;*/
  background-color: yellow;
  background: url("https://wallpaperbat.com/img/271123-abstract-dark-yellow-wallpaper.jpg");
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
  margin: 0px;
  font-family: sans-serif;
}

/*Navbar*/

#navbar > a {
  display: block;
  margin-left: 5em;
  margin-right: 5em;
  text-decoration: none;
  text-transform: uppercase;
  color: #f0d20e;
  font-weight: 900;
}

a:hover {
  opacity: 0.7;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  background: black;
  position: fixed;
  width: 100%;
  top: 0px;
  padding: 3em;
  z-index: 1;
  border-bottom: 4px solid #f0d20e;
}

/*    Welcome section   */
#welcome-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #d2a813;
  background-image: linear-gradient(315deg, #d2a813 0%, #000000 74%);
}

#welcome-text > h1 {
  font-size: 3rem;
  color: #f0d20e;
  font-weight: 900;
  font-style: oblique;
}

#welcome-text > p {
  font-size: 2rem;
  color: black;
  font-weight: 700;
}

#welcome-text {
  text-align: center;
  width: 100%;
}

/* Projects section*/
#projects {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  border-radius: 10%;
  box-shadow: 5px 10px 18px #888888;
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2em;
  padding: 3em;
}

#projects > h1 {
  width: 100%;
  font-size: 2rem;
  color: #f0d20e;
  font-weight: 900;
}
.project-tile {
  width: 300px;
  height: 300px;
  justify-self: center;
  border: 5px solid black;
}

.project-description {
  width: inherit;
  height: inherit;
  position: absolute;
}

#desc-1 {
  background-image: url("../images/tribute_page.png");
  background-size: cover;
}
#desc-2 {
  background-image: url("../images/survey_form.png");
  background-size: cover;
}
#desc-3 {
  background-image: url("../images/landing_page.png");
  background-size: cover;
}
#desc-4 {
  background-image: url("../images/documentation.png");
  background-size: cover;
}

#project-text {
  position: relative;
  width: inherit;
  height: inherit;
  display: none;
  background: black;
  opacity: 0.8;
}

#project-text > a {
  color: white;
  text-decoration: none;
  font-weight: 900;
}

#project-text > a:hover {
  color: yellow;
}

.project-tile:hover #project-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*    Contact-me section   */
#contact-me {
  background-color: black;
  margin-top: 8em;
  text-align: center;
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
  padding: 8em;
}
#contact-me > h1 {
  color: #f0d20e;
  font-weight: 900;
  font-size: 3rem;
}

#contact-me > a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-size: 1.5rem;
}

#contact-me > p {
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

@media screen and (max-width: 1100px) {
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 1;
  }
  #navbar > a {
    margin-left: 0;
    margin-right: 0;
  }

  #welcome-section {
    margin-top: 10em;
    width: 100%;
    height: 30vh;
    margin-bottom: 0em;
  }

  #welcome-text {
    text-align: center;
    width: 100%;
  }

  #projects {
    border-radius: 0%;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    align-items: center;
    justify-content: center;
    row-gap: 2em;
    margin-top: 5em;
  }

  .project-tile {
    margin: auto;
    justify-self: center;
    align-self: center;
    width: 300px;
    height: 300px;
    justify-self: stretch;
    grid-column: 1/3;
  }

  .project-description {
    width: inherit;
    height: inherit;
    position: absolute;
  }

  #project-text {
    position: relative;
    width: inherit;
    height: inherit;
    display: none;
  }

  #contact-me {
    margin-left: 0%;
    margin-right: 0%;
    padding: 8em;
  }
}
